<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyAwayApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Available_flights</display-name>
    <servlet-name>Available_flights</servlet-name>
    <servlet-class>com.Available_flights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Available_flights</servlet-name>
    <url-pattern>/Available_flights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminpage</display-name>
    <servlet-name>Adminpage</servlet-name>
    <servlet-class>com.Adminpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminpage</servlet-name>
    <url-pattern>/Adminpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addflight</display-name>
    <servlet-name>Addflight</servlet-name>
    <servlet-class>com.Addflight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addflight</servlet-name>
    <url-pattern>/Addflight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFlight</display-name>
    <servlet-name>RemoveFlight</servlet-name>
    <servlet-class>com.RemoveFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFlight</servlet-name>
    <url-pattern>/RemoveFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>com.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Congrats</display-name>
    <servlet-name>Congrats</servlet-name>
    <servlet-class>com.Congrats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Congrats</servlet-name>
    <url-pattern>/Congrats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View</display-name>
    <servlet-name>View</servlet-name>
    <servlet-class>com.View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
</web-app>